.hero>img{
  max-width: 100%;
}
@media (max-width: 419px) {
  .navbar .site-name{
    color: transparent!important;
    white-space: nowrap;
  }
  .navbar .site-name:before{
    content: 'VAC';
    color: #2c3e50;
  }
}